# Approach 1: Multi-Layer Perceptron; Neural Network

Curse: IS4242, Semster 1, 2024

Team: LLP

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from IPython.display import display

## Preparaing and data engineering
The train and test dataframe contains merged data of all data based on user_id and item_id as foreign key.

In [8]:
train = pd.read_csv('data/train.csv', index_col=None)
test = pd.read_csv('data/test.csv', index_col=None)
display(train.head())
display(test.head())

,user_id,item_id,rating,user_age,user_gender,user_occupation,user_zip,release_date,genre
0,1,1,5,24,M,technician,Arizona,1995.0,Animation
1,1,2,3,24,M,technician,Arizona,1995.0,Action
2,1,3,4,24,M,technician,Arizona,1995.0,Thriller
3,1,4,3,24,M,technician,Arizona,1995.0,Action
4,1,5,3,24,M,technician,Arizona,1995.0,Crime

,user_id,item_id,rating,user_age,user_gender,user_occupation,user_zip,release_date,genre
0,1,20,4,24,M,technician,Arizona,1995.0,Drama
1,1,33,4,24,M,technician,Arizona,1995.0,Action
2,1,61,4,24,M,technician,Arizona,1994.0,Drama
3,1,117,3,24,M,technician,Arizona,1996.0,Action
4,1,155,2,24,M,technician,Arizona,1987.0,Musical

In [1]:
import torch
import torch.nn as nn

class RecommendationNet(nn.Module):
    def __init__(self, num_zips, num_occupations, embedding_dim, additional_features_dim):
        super(RecommendationNet, self).__init__()

        # Embedding layers for users, items, ZIP codes, and occupations
        self.zip_embedding = nn.Embedding(num_zips, embedding_dim)
        self.occupation_embedding = nn.Embedding(num_occupations, embedding_dim)

        # Fully connected layers for additional features
        self.fc1 = nn.Linear(embedding_dim * 4 + additional_features_dim, 128)  # Adjust for extra embedding
        self.fc2 = nn.Linear(128, 64)
        self.fc3 = nn.Linear(64, 1)

    def forward(self, zips, occupations, additional_features):
        # Embedding lookup
        zip_embedded = self.zip_embedding(zips)
        occupation_embedded = self.occupation_embedding(occupations)

        # Concatenate embeddings with additional features
        x = torch.cat([zip_embedded, occupation_embedded, additional_features], dim=1)

        # Pass through fully connected layers
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        output = self.fc3(x)

        return output

In [3]:
import torch

# Check if GPU is available
if torch.cuda.is_available():
    device = torch.device("cuda")
    print("CUDA is available. Using GPU for computations.")
else:
    device = torch.device("cpu")
    print("CUDA is not available. Using CPU for computations.")

# Create a tensor and move it to GPU (if available)
x = torch.randn(3, 3)
x = x.to(device)
print(f'Tensor device: {x.device}')

CUDA is not available. Using CPU for computations.
Tensor device: cpu