# Data processing: 

Course: IS4242, Semster 1, 2024

Team: LLP

### 0.1 Import packages

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from IPython.display import display

### 0.2 Read original data

In [2]:
""" paths """

U_DATA = 'data/u.data'
U_GENRE = 'data/u.genre'
U_ITEM = 'data/u.item'
U_OCCUPATION = 'data/u.occupation'
U_USER = 'data/u.user'
UA_TEST = 'data/ua.test'
UA_TRAIN = 'data/ua.train'

In [3]:
# import u.data
df_all_data = pd.read_csv(
    filepath_or_buffer=U_DATA,
    sep='\t',
    names=[
        "user_id",
        "item_id",
        "rating",
        "timestamp"
    ]
)

# import u.genre
df_genre = pd.read_csv(
    filepath_or_buffer=U_GENRE,
    sep='|',
    names=[
        "genre_name",
        "genre_id"
    ]
)

# import u.user
df_user = pd.read_csv(
    filepath_or_buffer=U_USER,
    sep='|',
    names=[
        "user_id",
        "user_age", 
        "user_gender", 
        "user_occupation", 
        "user_zip"
    ]
)

# import u.item
df_item = pd.read_csv(
    filepath_or_buffer=U_ITEM,
    sep='|',
    names=[
        "item_id", 
        "movie_title", 
        "release_date", 
        "video_release_date",
        "IMDb_URL"
        ] + df_genre["genre_name"].tolist(),
    encoding='ISO-8859-1'
)

Check on total number of data incase any data lose during merge process

In [4]:
df_all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

### 0.3 Merge data based on item_id and user_id

In [5]:
df_all_data = pd.merge(df_all_data, df_user, on="user_id")
df_all_data = pd.merge(df_all_data, df_item, on="item_id")
df_all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             100000 non-null  int64
 1   item_id             100000 non-null  int64
 2   rating              100000 non-null  int64
 3   timestamp           100000 non-null  int64
 4   user_age            100000 non-null  int64
 5   user_gender         100000 non-null  object
 6   user_occupation     100000 non-null  object
 7   user_zip            100000 non-null  object
 8   movie_title         100000 non-null  object
 9   release_date        99991 non-null   object
 10  video_release_date  0 non-null       float64
 11  IMDb_URL            99987 non-null   object
 12  unknown             100000 non-null  int64
 13  Action              100000 non-null  int64
 14  Adventure           100000 non-null  int64
 15  Animation           100000 non-null  int64
 16  Children's          100000 non-null  int64
 17  Comedy              100000 non-null  int64
 18  Crime               100000 non-null  int64
 19  Documentary         100000 non-null  int64
 20  Drama               100000 non-null  int64
 21  Fantasy             100000 non-null  int64
 22  Film-Noir           100000 non-null  int64
 23  Horror              100000 non-null  int64
 24  Musical             100000 non-null  int64
 25  Mystery             100000 non-null  int64
 26  Romance             100000 non-null  int64
 27  Sci-Fi              100000 non-null  int64
 28  Thriller            100000 non-null  int64
 29  War                 100000 non-null  int64
 30  Western             100000 non-null  int64
dtypes: float64(1), int64(24), object(6)
memory usage: 23.7+ MB

No data lose on the data, user, item, data and genre are merged in the same table\
Now can move on to explore the data and prepare for feature engineering

### 0.4 Data processing

In [6]:
df_all_data

,user_id,item_id,rating,timestamp,user_age,user_gender,user_occupation,user_zip,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,39,F,executive,00000,L.A. Confidential (1997),01-Jan-1997,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,25,M,writer,40206,Heavyweights (1994),01-Jan-1994,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,28,M,technician,80525,Legends of the Fall (1994),01-Jan-1994,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,47,M,educator,55113,Jackie Brown (1997),01-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,13,M,student,83702,"First Wives Club, The (1996)",14-Sep-1996,...,0,0,0,0,0,0,0,0,0,0
99996,716,204,5,879795543,36,F,administrator,44265,Back to the Future (1985),01-Jan-1985,...,0,0,0,0,0,0,1,0,0,0
99997,276,1090,1,874795795,21,M,student,95064,Sliver (1993),01-Jan-1993,...,0,0,0,0,0,0,0,1,0,0
99998,13,225,2,882399156,47,M,educator,29206,101 Dalmatians (1996),27-Nov-1996,...,0,0,0,0,0,0,0,0,0,0
99999,12,203,3,879959583,28,F,other,06405,Unforgiven (1992),01-Jan-1992,...,0,0,0,0,0,0,0,0,0,1

No temporial analysis will done on the data, the time stamp is also not need

In [7]:
df_all_data.drop(columns=["timestamp"], inplace=True)
df_all_data.head(5)

,user_id,item_id,rating,user_age,user_gender,user_occupation,user_zip,movie_title,release_date,video_release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,49,M,writer,55105,Kolya (1996),24-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,39,F,executive,00000,L.A. Confidential (1997),01-Jan-1997,NaN,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,25,M,writer,40206,Heavyweights (1994),01-Jan-1994,NaN,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,28,M,technician,80525,Legends of the Fall (1994),01-Jan-1994,NaN,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,47,M,educator,55113,Jackie Brown (1997),01-Jan-1997,NaN,...,0,0,0,0,0,0,0,0,0,0

It is observed that the video_release_data col is complete empty, therefore can be droped\
the url is also not helpful in analysis, can be droped\
The release is precises to date, which is too detailed and for generalized purpose we only keep the release year\
Also the movie data is not useful in analysis

In [8]:
df_all_data.drop(columns=["video_release_date", "IMDb_URL", "movie_title"], inplace=True)
df_all_data['release_date'] = pd.to_datetime(df_all_data['release_date'],errors='coerce').dt.year

The genre are presented as onehot encoding, it may be better to change it back to one column so we can use it as a single feature or change to any form we prefer later

In [9]:
df_all_data_genre = df_all_data[df_genre["genre_name"].tolist()]
df_all_data['genre'] = df_all_data_genre.idxmax(axis=1)
df_all_data.drop(columns=df_genre["genre_name"].tolist(), inplace=True)
df_all_data.head(5)

,user_id,item_id,rating,user_age,user_gender,user_occupation,user_zip,release_date,genre
0,196,242,3,49,M,writer,55105,1997.0,Comedy
1,186,302,3,39,F,executive,00000,1997.0,Crime
2,22,377,1,25,M,writer,40206,1994.0,Children's
3,244,51,2,28,M,technician,80525,1994.0,Drama
4,166,346,1,47,M,educator,55113,1997.0,Crime

### 0.5 Use api to change zip code to state

In [10]:
import requests
from concurrent.futures import ThreadPoolExecutor, as_completed
import pandas as pd

# Dictionary to store cached responses
cache = {}

# Function to fetch the state for a ZIP code
def fetch_state(zip_code):
    if zip_code in cache:
        return cache[zip_code]
    
    response = requests.get(f'http://api.zippopotam.us/us/{zip_code}')
    if response.status_code == 200:
        data = response.json()
        state = data['places'][0]['state']
        cache[zip_code] = state  # Cache the result
        return state
    else:
        return 'Outside USA'

# Function to run API requests concurrently using a thread pool
def fetch_states_concurrently(df, max_workers=10):
    zip_codes = df['user_zip'].unique()
    
    # Use a thread pool to process the requests concurrently
    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        futures = {executor.submit(fetch_state, zip_code): zip_code for zip_code in zip_codes}
        results = {}
        
        for future in as_completed(futures):
            zip_code = futures[future]
            results[zip_code] = future.result()
    
    # Update the DataFrame with state information
    df['user_zip'] = df['user_zip'].map(results)
    return df

# Call the function to update ZIP codes with states
df_all_data = fetch_states_concurrently(df_all_data)

df_all_data

,user_id,item_id,rating,user_age,user_gender,user_occupation,user_zip,release_date,genre
0,196,242,3,49,M,writer,Minnesota,1997.0,Comedy
1,186,302,3,39,F,executive,Outside USA,1997.0,Crime
2,22,377,1,25,M,writer,Kentucky,1994.0,Children's
3,244,51,2,28,M,technician,Colorado,1994.0,Drama
4,166,346,1,47,M,educator,Minnesota,1997.0,Crime
...,...,...,...,...,...,...,...,...,...
99995,880,476,3,13,M,student,Idaho,1996.0,Comedy
99996,716,204,5,36,F,administrator,Ohio,1985.0,Comedy
99997,276,1090,1,21,M,student,California,1993.0,Thriller
99998,13,225,2,47,M,educator,South Carolina,1996.0,Children's
99999,12,203,3,28,F,other,Connecticut,1992.0,Western

### 0.6 Match the data to training set and test set

In [11]:
# Read training and test data
df_train = pd.read_csv(
    filepath_or_buffer=UA_TRAIN,
    sep='\t',
    names=[
        "user_id",
        "item_id",
        "rating",
        "timestamp"
    ]
)

df_test = pd.read_csv(
    filepath_or_buffer=UA_TEST,
    sep='\t',
    names=[
        "user_id",
        "item_id",
        "rating",
        "timestamp"
    ]
)

Check read data size

In [12]:
display(df_train.info())
display(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90570 entries, 0 to 90569
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    90570 non-null  int64
 1   item_id    90570 non-null  int64
 2   rating     90570 non-null  int64
 3   timestamp  90570 non-null  int64
dtypes: int64(4)
memory usage: 2.8 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9430 entries, 0 to 9429
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    9430 non-null   int64
 1   item_id    9430 non-null   int64
 2   rating     9430 non-null   int64
 3   timestamp  9430 non-null   int64
dtypes: int64(4)
memory usage: 294.8 KB

None

Merge all data to train and test data. Check any data lost after merge.

In [13]:
df_train_updated = df_train.merge(df_all_data, on=['user_id', 'item_id', 'rating'], how='left')
df_train = df_train_updated[df_all_data.columns]

df_test_updateed = df_test.merge(df_all_data, on=['user_id', 'item_id', 'rating'], how='left')
df_test = df_test_updateed[df_all_data.columns]

display(df_train.info())
display(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90570 entries, 0 to 90569
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          90570 non-null  int64
 1   item_id          90570 non-null  int64
 2   rating           90570 non-null  int64
 3   user_age         90570 non-null  int64
 4   user_gender      90570 non-null  object
 5   user_occupation  90570 non-null  object
 6   user_zip         90570 non-null  object
 7   release_date     90562 non-null  float64
 8   genre            90570 non-null  object
dtypes: float64(1), int64(4), object(4)
memory usage: 6.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9430 entries, 0 to 9429
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          9430 non-null   int64
 1   item_id          9430 non-null   int64
 2   rating           9430 non-null   int64
 3   user_age         9430 non-null   int64
 4   user_gender      9430 non-null   object
 5   user_occupation  9430 non-null   object
 6   user_zip         9430 non-null   object
 7   release_date     9429 non-null   float64
 8   genre            9430 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 663.2+ KB

None

Save the data to csv for further featuer engineering in different approach

In [15]:
df_test.to_csv('data/test.csv', index=False)
df_train.to_csv('data/train.csv', index=False)
df_all_data.to_csv('data/all_data.csv', index=False)